*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
  line-height: 1.5;
  font-size: 1.125rem;
}
.container {
  max-width: 32rem;
  margin: 0 auto;
}
body.light {
  background-color: white;
  * {
    color: black;
  }
}
body.dark {
  background-color: black;
  * {
    color: white;
  }
}

img {
  max-width: 8rem;
  height: auto;
}
